<form class="comment-form form-group p-3">
    <div>
        <textarea class="form-control" name="comment-body"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Add Comment</button>
    </div>
</form>