<section class="creat-post p-3 mb-5">
    <h2 class="text-info">Create New Post</h2>

    <form class="new-post-form form-group">
        <div>
            <label class="form-text" for="post-title">Title</label>
            <input class="form-control" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label class="form-text" for="post-contents">Contents</label>
            <textarea class="form-control" id="post-contents" name="post-contents"></textarea>
        </div>
        <button type="submit" class="mt-3 btn btn-info">Create</button>
    </form>
</section>

{{#if posts.length}}
<section class="p-3">
    <h2 class="text-primary">Your Posts</h2>
    <div>
        {{#each posts as |post|}}
            {{> post-info post}}
            <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
        {{/each}}
    </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>